!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body


		%header

			%svg.svg_logo-nn
				%use{"xlink:href" => "#logo-nn"}


		%main{:role => "main"}

			.tagline.wrap_svg

				%h1.visuallyhidden A Northern italian kitchen inspired by the Bacari of Venice.

				%svg.svg_tagline
					%use{"xlink:href" => "#tagline"}

			.the-content
				%p Reservations will be available soon.
				%p Sign up to be notified when we are ready to take them.

			%a#launch_modal.btn_reg{:href => "#", :title => "Signup for our newsletter"} Sign Up

			%div#modal-mailchimp{"data-modal" => "mailchimp"}

				%article#mc_embed_signup.wrap_content

					%form#mc-embedded-subscribe-form.validate{:action => "//northandnavy.us9.list-manage.com/subscribe/post-json?u=2fb512a2877f471ca178ebe49&amp;id=0c8aa102e9&c=?", :method => "get", :name => "mc-embedded-subscribe-form", :novalidate => true}

						.wrap_input-text
							%label.visuallyhidden{:for => "mce-EMAIL"} Email Address
							%input#mce-EMAIL.required.email{:type => "email", :name => "EMAIL", :value => "", :autocomplete => "off", :placeholder => "Enter your email address", :required => true}

						#do-not-remove.visuallyhidden
							%input{:type => "text", :name => "b_2fb512a2877f471ca178ebe49_0c8aa102e9", :tabindex => "-1", :value => ""}

						.wrap_input-submit
							%input#mc-embedded-subscribe.btn_reg{:type => "submit", :value => "Sign Up", :name => "subscribe"}

					.mce-response
						%h2#mce-response-text


		%footer
			%ul#contact
				%li
					%a{:href => "http://www.twitter.com/northandnavy", :title => "Visit us on Twitter", :target => "_blank"} @northandnavy
				%li 613.232.6289
				%li 226 Nepean St.


		= Haml::Engine.new(File.read("dev/haml/partials/_html_message.haml")).render


		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render