// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
/*
html,
button,
input,
optgroup,
select,
textarea {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
}
*/
body {
	padding: 4.8rem 2rem 6rem 2rem;
	background-color: hsla(215,24%,14%,1);
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	border-top: 0.6rem solid hsla(47,44%,61%,1);
}
::selection {
	background-color: hsla(0,0%,0%,1);
}
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: hsla(47,44%,61%,1);
}
::-moz-placeholder {
	color: hsla(47,44%,61%,1);
	opacity: 1;
}
:-ms-input-placeholder {
	color: hsla(47,44%,61%,1);
}

// Transitions
// ----------------------------------------------------------------------------
a,
a::before,
a::after,
span,
input,
button {
	transition: all 0.2s ease-in-out;
}
svg {
	transition: fill 0.2s ease-in-out;
}
[data-modal],
article.wrap_content form {
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
div.mce-response {
	transition: opacity 0.4s ease-in-out 0.4s, visibility 0.4s ease-in-out 0.4s;
}

// General Styles
// ----------------------------------------------------------------------------
svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
// --- Form Elements --- \\
form input[type="email"] {
	margin-bottom: 1rem;
	width: 100%;
	height: 5.6rem;
	font-family: 'ff-tisa-web-pro', Georgia, Times, 'Times New Roman', serif;
	font-size: 1.8rem;
	text-align: center;
	color: hsla(47,44%,61%,1);
	background-color: hsla(215,24%,14%,1);
}
// + interaction + \\
form input[type="email"]:focus {
	background-color: hsla(215,24%,24%,1);
}


// ==|== common components ====================================================
// ============================================================================

// Regular Button
// ----------------------------------------------------------------------------
.btn_reg {
	display: inline-block;
	margin: 0 auto;
	padding: 0 2.4rem;
	height: 5.6rem;
	font-family: 'Metric-Regular', Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 2.1rem;
	letter-spacing: 0.1rem;
	line-height: 5.8rem; // height - border
	text-align: center;
	text-transform: uppercase;
	border: 0.2rem solid hsla(0,0%,0%,1);
}

// Modals
// ----------------------------------------------------------------------------
[data-modal] {
	position: fixed;
	z-index: 400;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0,0%,0%,0.8);
	opacity: 0;
	visibility: hidden;
}
[data-modal].visible {
	opacity: 1;
	visibility: visible;
}
// --- Wrap Content: Centered --- \\
.wrap_content {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	margin-bottom: 4.8rem;
}
svg.svg_logo-nn {
	margin: 0 auto;
	width: 18rem;
	height: 14.8rem;
	fill: hsla(47,44%,61%,1);
}

// Footer
// ----------------------------------------------------------------------------
footer ul {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	font-size: 1.3rem;
	font-feature-settings: 'onum';
	text-align: center;
	color: hsla(47,44%,61%,1);
}
footer ul li {
	margin-bottom: 0.8rem;
}
footer ul li:last-child {
	margin-bottom: 0;
}
footer ul li a {
	color: hsla(47,44%,61%,1);
}
// + interaction + \\
footer ul li a:hover {
	color: hsla(47,44%,81%,1);
}
footer ul li a:active {
	color: hsla(47,44%,71%,1);
}


// ==|== page styles ==========================================================
// ============================================================================

// Home Page
// ----------------------------------------------------------------------------
main {
	margin: 0 auto 8rem auto;
	max-width: 60rem;
	text-align: center;
}
/*
main h1 {
	font-family: 'Metric-ThinItalic', Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 4.5rem;
	line-height: 2;
	text-transform: uppercase;
	color: hsla(47,44%,61%,1);
}
*/
main p {
	margin: 0 auto 6rem auto;
	width: 26.4rem; // 28.8rem;
	font-family: 'ff-tisa-web-pro', Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: hsla(47,44%,61%,1);
}
main a.btn_reg {
	color: hsla(47,44%,61%,1);
	background-color: hsla(47,44%,61%,0);
	border-color: hsla(47,44%,61%,1);
}
main a.btn_reg:hover {
	color: hsla(215,24%,14%,1);
	background-color: hsla(47,44%,61%,1);
}
main a.btn_reg:active {
	opacity: 0.8;
}
// + tagline + \\
div.tagline {
	margin-bottom: 4rem;
}
svg.svg_tagline {
	fill: hsla(47,44%,61%,1);
}
// --- Mailchimp Modal --- \\
article.wrap_content {
	padding: 4rem 2rem 0rem 2rem;
	width: 30rem; // 34.4rem
	height: 21.2rem;
	background-color: hsla(47,44%,61%,1);
	border-radius: 2rem;
}
div.wrap_input-text {
	margin-bottom: 2rem;
}
div.wrap_input-submit input.btn_reg {
	color: hsla(215,24%,14%,1);
	background-color: hsla(215,24%,14%,0);
	border-color: hsla(215,24%,14%,1);
}
div.wrap_input-submit input.btn_reg:hover {
	color: hsla(47,44%,61%,1);
	background-color: hsla(215,24%,14%,1);
}
div.wrap_input-submit input.btn_reg:active {
	background-color: hsla(215,24%,24%,1);
	border-color: hsla(215,24%,24%,1);
}
// + response + \\
div.mce-response {
	display: table;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	opacity: 0;
	visibility: hidden;
}
div.mce-response h2 {
	display: table-cell;
	padding: 0 2rem;
	font-family: 'ff-tisa-web-pro', Georgia, Times, 'Times New Roman', serif;
	font-size: 1.8rem;
	line-height: 1.5;
	color: hsla(215,24%,14%,1);
	vertical-align: middle;
}
article.success form {
	opacity: 0;
	visibility: hidden;
}
article.success div.mce-response {
	opacity: 1;
	visibility: visible;
}