// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
/*
html,
button,
input,
optgroup,
select,
textarea {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
}
*/
body {
	padding: 4.8rem 2rem 6rem 2rem;
	background-color: hsla(215,24%,14%,1);
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	border-top: 0.6rem solid hsla(47,44%,61%,1);
}
::selection {
	background-color: hsla(0,0%,0%,1);
}
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: hsla(0,0%,100%,1);
}
::-moz-placeholder {
	color: hsla(0,0%,100%,1);
}
:-ms-input-placeholder {
	color: hsla(0,0%,100%,1);
}
/*
input::-webkit-input-placeholder {
	color: hsla(141,100%,18%,1);
}
input:focus::-webkit-input-placeholder {
	color: hsla(141,100%,18%,0.5);
}
*/

// Transitions
// ----------------------------------------------------------------------------
a,
a::before,
a::after,
span,
input,
button {
	transition: all 0.2s ease-in-out;
}
svg {
	transition: fill 0.2s ease-in-out;
}
[data-modal] {
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

// General Styles
// ----------------------------------------------------------------------------
svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}


/*
// --- Form Elements --- \\
form input[type="email"] {
	margin-bottom: 12rem;
	width: 100%;
	height: 20rem;
	font-size: 9rem;
	text-align: center;
	color: hsla(141,100%,18%,1);
	background-color: hsla(215,24%,14%,1);
	border: 0.6rem solid hsla(141,100%,18%,1);
}
// + interaction + \\
form input[type="tel"]:focus,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
	color: hsla(141,100%,24%,1);
	border-color: hsla(141,100%,24%,1);
}
*/


// ==|== common components ====================================================
// ============================================================================

/*
// Containers
// ----------------------------------------------------------------------------
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width-926"] {
	width: 92.6rem;
}
*/

/*
// CSS Loader
// ----------------------------------------------------------------------------
div.loader {
	margin: 6rem auto 0 auto;
	width: 7rem;
	text-align: center;
	opacity: 0;
	visibility: hidden;
}
div.loader.loading {
	opacity: 1;
	visibility: visible;
}
div.loader div.loader_circle {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background-color: hsla(0,0%,80%,1);
	border-radius: 100%;
	animation: loadPulse 1.4s ease-in-out infinite both;
}
div.loader div.circle-1 {
	animation-delay: -0.32s;
}
div.loader div.circle-2 {;
	animation-delay: -0.16s;
}
// + animation + \\
@keyframes loadPulse {
	0%,
	80%,
	100% {
		transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
	}
}
*/

// Regular Button
// ----------------------------------------------------------------------------
.btn_reg {
	display: inline-block;
	margin: 0 auto;
	padding: 0 2.4rem;
	height: 5.6rem;
	font-family: 'Metric-Regular', Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 2.1rem;
	letter-spacing: 0.1rem;
	line-height: 5.8rem; // height - border
	text-align: center;
	text-transform: uppercase;
	color: hsla(47,44%,61%,1);
	background-color: hsla(47,44%,61%,0);
	border: 0.2rem solid hsla(47,44%,61%,1);
}
// + interaction + \\
.btn_reg:hover {
	color: hsla(215,24%,14%,1);
	background-color: hsla(47,44%,61%,1);
}
.btn_reg:active {
	opacity: 0.8;
}

// Modals
// ----------------------------------------------------------------------------
[data-modal] {
	position: fixed;
	z-index: 400;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0,0%,0%,0.8);
	opacity: 0;
	visibility: hidden;
}
[data-modal].visible {
	opacity: 1;
	visibility: visible;
}
// --- Wrap Content: Centered --- \\
.wrap_content {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	margin-bottom: 4.8rem;
}
svg.svg_logo-nn {
	margin: 0 auto;
	width: 18rem;
	height: 14.8rem;
	fill: hsla(47,44%,61%,1);
}

// Footer
// ----------------------------------------------------------------------------
footer ul {
	font-family: "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
	font-size: 1.3rem;
	text-align: center;
	color: hsla(47,44%,61%,1);
}
footer ul li {
	margin-bottom: 0.8rem;
}
footer ul li:last-child {
	margin-bottom: 0;
}
footer ul li a {
	color: hsla(47,44%,61%,1);
}
// + interaction + \\
footer ul li a:hover {
	color: hsla(47,44%,81%,1);
}
footer ul li a:active {
	color: hsla(47,44%,71%,1);
}


// ==|== page styles ==========================================================
// ============================================================================

// Home Page
// ----------------------------------------------------------------------------
main {
	margin: 0 auto 8rem auto;
	max-width: 60rem;
	text-align: center;
}
main p {
	margin: 0 auto 6rem auto;
	width: 28.8rem;
	font-family: 'ff-tisa-web-pro', Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5rem;
	line-height: 1.4;
	color: hsla(47,44%,61%,1);
}

// + tagline + \\
div.tagline {
	margin-bottom: 4rem;
}
svg.svg_tagline {
	fill: hsla(47,44%,61%,1);
}

// --- Mailchimp Modal --- \\

article.wrap_content {
	width: 30rem; // 34.4rem
	height: 21.2rem;
	background-color: hsla(47,44%,61%,1);
	border-radius: 2rem;
}









