// ==|== media queries ========================================================
// WIDTHS: 768px / 960px
// ============================================================================

@media only screen and (min-width: 48em) { // 768px / 16px = 48em

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------

	body {
		padding: 8rem 4rem 12rem 4rem;
	}

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		margin-bottom: 10rem;
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Home Page
	// ----------------------------------------------------------------------------
	main {
		margin-bottom: 20rem;
	}
	main p {
		margin-bottom: 8rem;
		width: 26.4rem;
	}
	// + tagline + \\
	div.tagline {
		margin-bottom: 8rem;
	}
	// --- Mailchimp Modal --- \\
	article.wrap_content {
		width: 34.4rem;
	}


}

@media only screen and (min-width: 60em) { // 960px / 16px = 60em


}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/