#modal-message.visible{"data-modal" => "message"}

	%article#message.message

		.message_content

			%p The story of North&Navy began at Fratelli in the Glebe. We met each other, both paying our way through University in the popular Ottawa institution. It was there we caught the bug, so to speak, that led to us opening our own restaurant. A large part of our fascination with the industry can be attributed to Robert Valente. He was one of the coolest people either of us had ever met. Born into the industry, he knew the answer to every question two young aspiring restaurateurs could ask. While both of us have our own mentors we have been drawing on during the process of opening a restaurant, the one we shared in common is Robert. So many of the decisions we have made in the last few months have been influenced by his presence in our lives. We were so looking forward to sharing our new business with him.

			%p We know we are not alone in our sadness. Ottawa has not felt the same for the last few days. We would like to extend our sympathy to the Valente family, and Robert’s closest friends.

			%p
				Sincerely,
				%br
				Adam Vettorel &amp; Christopher Schlesak

			%a#message-close.wrap_svg{:href => "#", :title => "Close"}
				%svg.svg_cancel
					%use{"xlink:href" => "#cancel"}